body {
    background-image:             url('https://media.istockphoto.com/photos/food-background-with-organic-vegetables-healthy-food-or-diet-concept-picture-id1146921393');
    background-size: 100%;
    color: maroon;
    font-family: Verdana;
  }
  
  h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  h5 {
    font-size: 40px;
  }
  
  h4 {
    font-size: 40px;
  }
  
  .button {
    text-align: center;
  }
  
  button {
    height: 100px;
    width: 300px;
    font-size: 50px;
    border-radius: 25px; 
    background: lightgray;
    margin-bottom: 20px;
  }
  
  button:hover {
    transform: scale(1.1);
    background: gray;
  }
  
  img {
    height: 315px;
    width: 420px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;

  }